<br><br><br><br>
<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center v-center">
          <h1 class="start-title"><i class="fa fa-chain-broken fa-2x"> 404</i></h1>
          <hr>
        </div>
      </div> <!-- /row -->
      <div class="col-lg-12 text-center ">
      <p class="lead">PAGE NOT FOUND!</p>
      <br>
      Maybe u are drunk, go <a href="/">Home</a>
</div>