<div class="header-chat">   
	<strong>Channel:</strong><%= channel.name %><br>
	<strong>Users Connected:</strong><%= channel.users %></div>
<div class="chat">

</div>
<div >
<input type="text" class="message">
</div>
