
<div class="login-container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1><i class="fa fa-wechat fa-2x">WIRC</i></h1>
          <p class="lead">Meet people just for fun</p>
          <hr>
        </div>
      </div> <!-- /row -->
      <div class="col-lg-12 text-center ">
        <p>Login with a social media:</p>
      </div>
      <div class="social-buttons">
          
              <div class="social-buttons">

                <a href="#">
                  <button class="ribbon googleplus">
                    <span class="entypo-gplus"></span>
                  </button>
                </a>
                <a href="/auth/facebook">
                  <button class="ribbon facebook">
                    <span class="entypo-facebook"></span>
                  </button>
                </a>
                <a href="#">
                  <button class="ribbon twitter">
                    <span class="entypo-twitter"></span>
                  </button>
               </a>

              </div>
    </div>