
@import url(http://fonts.googleapis.com/css?family=Allura);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

body {
  margin: 0;
  padding: 1em;
  background-color:#F7F9FB;
  background-position: initial initial;
  background-repeat: initial initial; }

a#displayName{
  margin-left: -10px;

}

.circular {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    float:left;
  }

.shadow{
  text-shadow: 0px 2px 2px rgba(173, 172, 172, 0.7);
}

.social-buttons{
  margin: auto; max-width: 300px;
}

.login-container {
  padding: 0;
  margin: 0 auto;
  width: 410px; 
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .login-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .login-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .login-container {
    width: 1170px;
  }
}
.login-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ribbon {
  float: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  background: blue;
  width: 100px;
  height: 150px;
  position: relative;
  color: white;
  padding: 5px;
  margin-right: -20px;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5)); }
  .ribbon:hover {
    margin-top: 20px;
    color: white; }
  .ribbon span {
    line-height: 20px;
    font-size: 5em; }
  .ribbon::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid blue;
    border-right: 100px solid transparent; }
  .ribbon::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50px solid blue;
    border-left: 100px solid transparent; }

.googleplus {
  margin-top: 10px;
  background: #c4302b;
  color: #701c19; }
  .facebook::after {
    border-top-color: #3b5998; }
  .facebook::before {
    border-top-color: #3b5998; }

.facebook {
  z-index: 999;
  background: #3b5998;
  color: #1e2e4f; }
  .googleplus::after {
    border-top-color: #c4302b; }
  .googleplus::before {
    border-top-color: #c4302b; }

.twitter {
  margin-top: 10px;
  background: #00a0d1;
  color: #00526b; }
  .twitter::after {
    border-top-color: #00a0d1; }
  .twitter::before {
    border-top-color: #00a0d1; }
